// Fonts
@import url('https://fonts.googleapis.com/css?family=Sniglet');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
html {
    font-size: 0.8rem;
}
@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}
@include media-breakpoint-up(lg) {
    html {
        font-size: 1.4rem;
    }
}
body {
    background-color: white;
    font-family: 'Sniglet', cursive;
}
.navbar {
    background-color: white;
}
.navbar-expand-md {
    @include font-size(1.4rem);
}
.navbar-expand {
    padding: 0;
    font-size: 0.8rem;
}

// Variables
@import 'variables';
